<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link rel="stylesheet" href="style/style.css">

	<title>Start Game</title>

	<script type="text/javascript">
	var level =1;
	var length=1;
	var c = 10;
	var t;
	var timer_is_on = 0;
	var score=0;		
	var arrayimg =[];
	arrayimg[0] = "img/cat";
	for (var i = 1; i < 24; i++) {
		arrayimg[i] = "img/dog"+i;
	}
	

	function start(input)
	{
		 document.getElementById("hlv").innerHTML = level;
		console.log("level"+" "+input);
		if(input==30){
			myFunction();
    			 
		}else{
			if(input==null){
			length = 2;
		}else{
			length ++;
		}
		startCount();
		k = length*length;
		indexcat  = Math.floor((Math.random() * k) );
		var mainNode = document.getElementById('main');
		for (var i =0; i <k; i++) 
		{
			
			 var node = document.createElement("IMG");  
			 node.setAttribute("id","x"+i );
			 if(i == indexcat){
				node.src = arrayimg[0];  
				node.onclick = function(){	;
			 	$("#main").empty("");
			 	document.getElementById("htscore").innerHTML = score+=(c*10);
			 	c=5;
			 	// startCount();
			 	start(++level);
			 };
			 }  
			 else{
			 		indaxarray = Math.floor((Math.random() * 23) +1);
			 		node.src = arrayimg[indaxarray];  
			 }
			 node.setAttribute("width",600/length);
			 node.setAttribute("height",600/length);
			mainNode.appendChild(node); 					
		}
		}
		
	}
	function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    console.log(path);
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}
	function myFunction() {
    	var person = prompt("Please enter your name", "Your name...");  
  
    	if (confirm("Please enter your name") == true) {
    	  post('/api/highscore', {name: person,score:score});
      	  
         } else {
         		$("#main").empty("");
				length=1;
    			level=1;
    			c=5;
    			score=0;
    			start(1);
    	 }
	}

	function timedCount() {
			document.getElementById("htime").innerHTML = c;
			document.getElementById("hscore").innerHTML =c*10;
	    if(c==0){
	    	stopCount();
	    	myFunction();
	    }else{
	    	c = c - 1;
	   		 t = setTimeout(function(){ timedCount() }, 1000);
	   } 
	}

	function startCount() {
    	if (!timer_is_on) {
      	  timer_is_on = 1;
      	  timedCount();
    	}
	}	

	function stopCount() {
   	 	clearTimeout(t);
   	 	timer_is_on = 0;
	}

	</script>
</head>
<body onload="start(null)" background="http://img14.deviantart.net/7716/i/2013/044/8/2/cat_shapes___background_by_lalunatique-d5f93yf.jpg">	
			<div class="row">
					<div class="col-sm-2">		
					</div>
					<div class="col-sm-6" >
						<div id="main">
						</div>
					</div>
					<div class="col-sm-3">
						<div id="time">
							<h3>Time</h3>
							<h2 id="htime"></h2>
						</div>
						<div id="scorelevel">
							<div id="level">
								<h3>Level</h3>
								<h2 id="hlv"></h2>
							</div>
							<div id="score">
								<h3>Score</h3>
								<h2 id="hscore">0</h2>
							</div>
							<div id="tscore">
								<h3>Total Score</h3>
								<h2 id="htscore">0</h2>
							</div>
						</div>
						
					</div>
					<div class="col-sm-1">
					</div>
			</div>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>

