<!DOCTYPE html>
<html>
<head>
	<title>Fine Meow hai jor si</title>
		
<style>
	#main{
		width: 500px;
		height: 500px;
	}
	
	
	.IMG{
		width: 250px;
		height: 250px;
		margin: 0;
		float: left;
	}
	html, body{
		padding:0px;
		margin:0px;
		/*height:100%;*/
		/*padding-bottom: 30px;*/
		}
</style>

<script type="text/javascript">
	function start()
	{
		var mainNode = document.getElementById('main');
		for (var i = 0; i <4; i++) 
		{
			 var node = document.createElement("IMG");     
			 // node.setAttribute("id","x" +i);              
			 //   // node.className = "mini";
			 node.src = "http://p2.s1sf.com/ho/0/ud/187/936001/b-2.jpg";
			 node.setAttribute("width", "250");
    		node.setAttribute("height", "250");
			   // node.style.background-color  = "red";
			  
			mainNode.appendChild(node); 
			
		}

		
	}
	</script>
</head>
<body  onload="start()">
		<div id="main" >
			
		</div>
		
</body>
</html>