<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
	<title>Start Game</title>
	<style type="text/css">
		
	#main{
		width: 600px;
		height: 600px;
		background-color: #0E9F98;
	}
	/*.row{
		width: 50px;
		height: 50px;
		background-color: #4F1515;
	}
	.span8{
		background-color: #FFFFFF;
	}*/
/*.IMG{
		width: 250px;
		height: 250px;
		margin: 0;
		float: left;
	}*/

	</style>
	<script type="text/javascript">
	var level =1;
	
			
	var arrayimg =[];
	arrayimg[0] = "img/cat";
	arrayimg[1] = "img/dog1";
	arrayimg[2] = "img/dog2";
	arrayimg[3] = "img/dog3";
	arrayimg[4] = "img/dog4";
	arrayimg[5] = "img/dog5";
	arrayimg[6] = "img/dog6";
	arrayimg[7] = "img/dog7";
	arrayimg[8] = "img/dog8";
		

	function start()
	{	
		
		le = 2;
		k = le*le;
		indexcat  = Math.floor((Math.random() * k) );
		var mainNode = document.getElementById('main');
		for (var i =0; i <k; i++) 
		{
			
			 var node = document.createElement("IMG");  
			 node.setAttribute("id","x"+i );
			 if(i == indexcat){
				node.src = arrayimg[0];  
				node.onclick = function(){	;
			 	$("#main").empty("");
			 	start2(++level);
			 };
			 }  
			 else{
			 	
			 		// indexdog  = Math.floor((Math.random() * k) );
			 		indaxarray = Math.floor((Math.random() * 8) +1);
			 		
			 			node.src = arrayimg[indaxarray];  
			 	
			 	
			 }
			 
			 node.setAttribute("width",600/le);
			 node.setAttribute("height",600/le);
			 
			mainNode.appendChild(node); 					
		}

	}
	function start2(level)
	{	
		
		if (level<=15) {
				if (level==2) {
			le = 3;
		}else{
			le++;;
		}
		k = le*le;
		indexcat  = Math.floor((Math.random() * k) );
		var mainNode = document.getElementById('main');
		for (var i =0; i <k; i++) 
		{
			
			 var node = document.createElement("IMG");  
			 node.setAttribute("id","x"+i );
			 if(i == indexcat){
				node.src = arrayimg[0];  
				node.onclick = function(){	;
			 	$("#main").empty("");
			 	start2(++level);
			 };
			 }  
			 else{
			 		// indexdog  = Math.floor((Math.random() * k) );
			 		indaxarray = Math.floor((Math.random() * 8) +1);
			 			node.src = arrayimg[indaxarray];  
			 	
			 }
			 
			 node.setAttribute("width",600/le);
			 node.setAttribute("height",600/le);
			 
			mainNode.appendChild(node); 					
		}
		}else{
				console.log("high score");
		}

	}


	
	</script>
	
</head>
<body onload="start()">	
		<div id="main">
		
		</div>



		

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>

